{% extends "comics/base.html" %}
{% load i18n thumbnail markup %}

{% block more-options %}
{% if user.is_authenticated %}
{% ifequal webcomic.owner user %}
    <li><strong>Webcomic:</strong>
    <a href="{{ webcomic.link.edit }}">Edit</a></li>

    <li><strong>Strip:</strong>
    <a href="{{ webcomic.link.add_strip }}">Add</a></li>
    {% if strip %}
    <li><a href="{{ strip.link.edit }}">Edit</a></li>
    {% endif %}
{% endifequal %}
{% endif %}
{% endblock %}

{% block body %}

{% if webcomics.count %}
<div class="clearfix shelf">
    {% for webcomic in webcomics %}
    <a class="url comic" href="{{ webcomic.link }}">
        <img alt="Logo" src='{{ webcomic.thumbnail|thumbnail:"60x80" }}'></img></a>
    {% endfor %}
</div>
{% endif %}

{% if strip %}
    <div id="titleofcomic">
        <h1>{{ strip.name }}</h1>
    </div>
    <div class="comics">
      <img id="strip_image" title="{{ strip.name }}" alt="Strip {{ strip.name }}" src="{{ strip.image.url }}"class ="comicimage" usemap = #map></img>
      <map name="map">
        {% for map in strip.map_set.all %}
        <area shape="{{ map.shape_choice }}" coords="{{ map.shape_coordinates }}" alt="{{ map.rollover_text }}" href="{{ map.too_strip.get_absolute_url }}" title = "{{ map.rollover_text }}"/>
        {% endfor %}
      </map>
    </div>

    {% if strip.legend %}
    <div class="comicscript">
        {{ strip.legend|markdown }}
    </div>
    {% endif %}

{% else %}
<div class="notice">
    {% trans "There are no strips avaiable at the moment" %}.
</div>
{% endif %}

{# comentarios utilizando o django-comments #}
{% if strip and strip.enable_comments %}

{% with strip as commented_obj %}
    {% include "comics/includes/comments.html" %}
    {% include "comics/includes/comments_form.html" %}
{% endwith %}

{% endif %}

{% endblock body %}
